@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<turbo-frame id="messages" src="/messages">
  <p>This message will be replaced by the response from /messages.</p>
</turbo-frame>